#account {
    position: absolute;
    width: 50%;
    margin: 10px 25%;
}

#account-settings,
#my-clubs {
    border: 1px solid grey;
    margin: 10px 0;
    padding: 20px;
    position: relative;
}

#account-settings p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
}

#account-settings input {
    width: 300px;
}

.my-clubs-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-clubs-entry-name {
    width: 50%;
}

.my-clubs-entry-status {
    width: 20%;
}

.my-clubs-entry-options {
    flex-grow: 1;
    text-align: right;
}